/*!
 * modules.css
 *
 * @modified 2013/05/12
 *
 */

.mod-tit {
	margin-bottom: 10px;
}

.mod-foo {
	margin-bottom: 10px;
	padding: 10px;
	background: black;
	color: white;
}

.mod-bar {
	margin-bottom: 10px;
	padding: 10px;
	background: black;
	color: white;
}

.mod-baz {
	margin-bottom: 10px;
	padding: 10px;
	background: black;
	color: white;
}
